@model MySchoolV1.Models.Answer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RightAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to  Question", "Details", "Questions", new { id = Model.QuestionID }, "")
</p>
